# dotenv environment variable files
**/.env
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local

# Backend project
wedding-race-backend/__pycache__*

# Frontend project ------------------------------------------------------------
# Logs
wedding-race-frontend/logs
wedding-race-frontend/*.log
wedding-race-frontend/npm-debug.log*
wedding-race-frontend/yarn-debug.log*
wedding-race-frontend/yarn-error.log*
wedding-race-frontend/lerna-debug.log*
wedding-race-frontend/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
wedding-race-frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
wedding-race-frontend/pids
wedding-race-frontend/*.pid
wedding-race-frontend/*.seed
wedding-race-frontend/*.pid.lock

# node-waf configuration
wedding-race-frontend/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
wedding-race-frontend/build/Release

# Dependency directories
wedding-race-frontend/node_modules/
wedding-race-frontend/jspm_packages/

# TypeScript cache
wedding-race-frontend/*.tsbuildinfo

# Optional npm cache directory
wedding-race-frontend/.npm

# Optional eslint cache
wedding-race-frontend/.eslintcache

# Optional stylelint cache
wedding-race-frontend/.stylelintcache

# Microbundle cache
wedding-race-frontend/.rpt2_cache/
wedding-race-frontend/.rts2_cache_cjs/
wedding-race-frontend/.rts2_cache_es/
wedding-race-frontend/.rts2_cache_umd/

# Optional REPL history
wedding-race-frontend/.node_repl_history

# Output of 'npm pack'
wedding-race-frontend/*.tgz

# Yarn Integrity file
wedding-race-frontend/.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
wedding-race-frontend/.cache
wedding-race-frontend/.parcel-cache

# Next.js build output
wedding-race-frontend/.next
wedding-race-frontend/out

# Stores VSCode versions used for testing VSCode extensions
wedding-race-frontend/.vscode-test

# yarn v2
wedding-race-frontend/.yarn/cache
wedding-race-frontend/.yarn/unplugged
wedding-race-frontend/.yarn/build-state.yml
wedding-race-frontend/.yarn/install-state.gz
wedding-race-frontend/.pnp.*

wedding-race-frontend/.DS_Store

# Playwright
wedding-race-frontend/test-results/
wedding-race-frontend/playwright-report/
wedding-race-frontend/blob-report/
wedding-race-frontend/playwright/.cache/
