.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);
}

.rsvpInvertHover:hover {
  background: #000 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.rsvpInvertHover:hover .rsvpInvertHoverText {
  color: #ffd9d9 !important;
}
